/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/* Colors */
.btn {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 15px;
  border: 2px solid #02baab; }

.btn-with-bg {
  background-color: #02baab;
  color: #fff; }

.btn-without-bg {
  background-color: transparent;
  color: #02baab; }

.btn-without-bg.inverse {
  background-color: transparent;
  color: #fff;
  border-color: #fff; }

.short-divider {
  height: 5px;
  width: 50px;
  background-color: #eee; }

body {
  color: #3b4954;
  font-family: "Oxygen", serif; }

ul {
  list-style: none; }

header {
  background-image: url("../images/header-bg.jpg");
  background-size: cover; }
  header .navbar {
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 0; }
  header .top-navbar {
    color: #85939f;
    height: 50px;
    background-color: #000; }
    header .top-navbar .navbar-nav li a {
      color: #85939f; }
    header .top-navbar .navbar-form input {
      height: 28px;
      width: 210px;
      background: none;
      border: 1px solid #85939f;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
  header .bottom-navbar {
    height: 65px;
    background-color: rgba(0, 0, 0, 0.5); }
    header .bottom-navbar .navbar-nav li {
      text-transform: uppercase;
      position: relative;
      padding-top: 10px; }
      header .bottom-navbar .navbar-nav li a {
        color: #fff;
        font-weight: light; }
    header .bottom-navbar .navbar-nav li::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 5px;
      width: 100%;
      background-color: #e51c5e; }
  header .slider {
    height: 540px; }
    header .slider .slide {
      margin: 80px 0;
      font-size: 60px; }
      header .slider .slide h1 {
        color: #02baab;
        font-size: 60px; }
      header .slider .slide h2 {
        color: #fff;
        font-size: 60px; }
    header .slider .btns {
      margin: 20px 0;
      margin-bottom: 80px; }
      header .slider .btns button {
        margin: 0 20px; }
      header .slider .btns button:hover {
        color: #fff; }
    header .slider a.active {
      color: #02baab; }
    header .slider a {
      color: #fff;
      margin: 5px; }
    header .slider a:hover {
      color: #02baab; }

section {
  padding: 40px 0; }
  section .short-divider {
    margin: 10px auto; }
  section h3 {
    color: #3b4954;
    font-size: 36px;
    margin: 30px 0; }
  section p {
    font-size: 18px;
    width: 70%;
    margin: 20px auto;
    line-height: 28px; }

/* Start welcome section */
/* Start portfolio section */
section.portfolio {
  background-color: #344146;
  color: #fff;
  /* projects */ }
  section.portfolio h3 {
    color: #fff; }
  section.portfolio .project {
    position: relative; }
    section.portfolio .project img {
      position: relative;
      display: block;
      width: 100%;
      height: 80%; }
    section.portfolio .project .project-details {
      background-color: #6C8784;
      display: block;
      padding: 5px 10px;
      font-size: 14px; }
      section.portfolio .project .project-details p {
        width: 80%;
        display: inline-block;
        margin: 0; }
      section.portfolio .project .project-details .tags {
        width: 80%;
        margin: 0;
        padding: 0;
        display: inline-block;
        color: #02baab;
        font-size: 12px; }
        section.portfolio .project .project-details .tags li {
          display: inline-block; }
      section.portfolio .project .project-details .likes {
        width: 20%; }
        section.portfolio .project .project-details .likes i {
          color: #fff; }
        section.portfolio .project .project-details .likes p {
          color: #02baab;
          font-size: 12px; }
    section.portfolio .project .project-hover {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      padding: 20%; }
      section.portfolio .project .project-hover i {
        width: 30px;
        height: 30px;
        margin: 10px auto;
        display: block; }
      section.portfolio .project .project-hover i::before {
        background-color: #02baab;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%; }
  section.portfolio .project:hover .project-hover {
    display: block; }

/* Start banner section */
section.banner {
  background-color: #02baab;
  color: #fff; }
  section.banner p {
    font-size: 24px;
    display: inline-block; }

section.all-features p {
  width: 100%;
  font-size: 14px; }
section.all-features .all-content {
  margin-top: 30px; }
  section.all-features .all-content i {
    color: #02baab;
    margin: 10px;
    text-align: center; }
  section.all-features .all-content .feature .content h4 {
    color: #000; }

section.quotes {
  padding: 80px 0;
  background-color: #344146;
  color: #fff; }
  section.quotes .fa-quote-right,
  section.quotes span,
  section.quotes a.active,
  section.quotes p a:hover {
    color: #02baab; }
  section.quotes p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }
  section.quotes p a {
    color: #fff; }
    section.quotes p a i {
      font-size: 10px;
      margin: 5px 10px; }
  section.quotes span {
    text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
