/* Fonts */
@import "fontface";
$primary-font : $oxygen;

/* Colors */
$primary-color : #02baab;
$header-txt-color: #85939f;
$dark-txt: #3b4954;
$black-txt: #000;
$white-txt: #fff;
$footer-bg-color: #1f2a32;

$btn-txt-size: 12px;
